.add {
  width: 80vw;
  margin: 50px auto;
}
.addForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addForm .selectWrapper {
  padding: 0;
}

.addForm label,
input {
  margin: 5px 0;
}

.submitAddForm {
  background-color: #ed1c24;
  margin-top: 20px;
  border: none;
  padding: 0.5rem 1rem;
  color: #d8ede2;
  text-transform: uppercase;
  border-radius: 5px;
}
